$primary-color: #388787;
$dark-primary-color: #286161;
$light-primary-color: #4AB3B3;
$text-icons: #FFFFFF;
$accent-color: #FFC107;
$dark-accent-color: #E8B602;
$primary-text: #212121;
$secondary-text: #727272;
$divider-color: #B6B6B6;

